@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-white text-ink antialiased;
}

input[type="range"] {
  @apply h-2 w-full cursor-pointer appearance-none rounded bg-neutral-300;
}

input[type="range"]::-webkit-slider-thumb {
  @apply h-5 w-5 appearance-none rounded-full border border-ink bg-ink;
}

input[type="range"]::-moz-range-thumb {
  @apply h-5 w-5 rounded-full border border-ink bg-ink;
}
